.lightbox-component
  display flex
  position absolute
  top 0
  left 0
  width 100vw
  height 100vh
  background-color rgba(0,0,0,0)
  justify-content center
  align-items center
  transition background-color .3s
  pointer-events none
  &.is-active
    pointer-events auto
    background-color rgba(0,0,0,.75)
    .lightbox-viewport
      opacity 1
      transform scale(1)
      background-color white
  .lightbox-viewport
    position relative
    padding 1em
    background-color rgba(0,0,0,0)
    border-radius 1em
    width 90%
    box-shadow 0 0 5em rgba(0,0,0,.75)
    transition all .3s
    opacity 0
    transform scale(0.5)
    .view-body
      width 100%
      padding-top 56.25%
      background-size contain
    .view-caption
      width 100%
      position absolute
      bottom .5em
      left 0
      display flex
      justify-content center
      span
        padding .5em 2em
        font-size .5em
        background-color white
        border-radius 1em

  